* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: black;
}

canvas {
    position: absolute;
    top: 175px;
    left: 0;
    right: 0;
    bottom: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
}

h1 {
    color: white;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 400px) {
    main {
        flex-direction: row;
        justify-content: center;
    }

    canvas {
        top: 115px;
    }
    
}
